*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100%;
}
header{
    height: calc(100% - 85%);
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.parametri{
    display: flex;
}
main{
    height: calc(100% - 15%);

}
#griglia{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 90%;
    width: 60%;
}

.quadrati{
    border: solid 1px;
    height: calc(100% / 10 );
    width: calc(100% / 10 );
}